@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Fragment+Mono:ital@0;1&family=Honk&family=Madimi+One&family=Pixelify+Sans:wght@400..700&display=swap');

body {
  background-image: url("/assets/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F8FAFD;
  
  margin: 0;
  color: #fff;
  font-family: "Delius", Comfortaa;
  padding-top: 3em; 
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 4em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  flex-direction: column;
}

.music {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.music i {
  font-size: 2vw;
}

.music #toggle-image-text {
  font-family: "Pixelify Sans", Comfortaa;
  font-size: 1.3vw;
}

.content p {
  color: white;
}

.social-medias {
  flex-direction: row !important;
}

.social-medias i {
  color:aliceblue;
  font-size: 1.5vw;
  padding-left: 10px;
  padding-right: 10px;
}

.languages {
  color: #FFF;
  text-align: center;
  font-family: "Delius", Comfortaa;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Delius", Comfortaa;
  font-size: 7.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.other-info {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.btn-aboutme {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Delius", Comfortaa;
  width: 125px;
  height: 40px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  transition: all 0.2s ease-in-out; 
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  border: 1px solid rgba(255,255,255,0.1);
  border: 0;
}

.btn-aboutme:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.content h1 {
  color: white;
  letter-spacing: 10px;
}

span {
  border-right: .03em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
