body {
	background: black !important;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
}

body h2 {
    background: white;
    border-radius: 10px;
    margin-top: 10px;
}

#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.choice-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.choice-button:hover {
    background-color: #e0e0e0;
}

.choice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answer-review {
    text-align: left;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
}